.swiper {
  width: 50%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
